@using ePonti.BOL
@using ePonti.BLL.Common
@{
    ViewBag.Title = "Upload";

    Layout = "~/Areas/Common/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-sm-12 pageHeader">
        <div class="col-sm-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="@Url.Action("Index","CoAccount")" class="homeLinks"><img src="~/images/Cancel.png" width="20"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 subText">
            <div class="headerText"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 subText">
            <form action="/Options/CoAccount/UploadImage"
                  class="dropzone account_dropzone"
                  id="dropzoneJsForm"
                  style="background-color:#ffffff">
                <img src="~/images/dragdrop.png" width="100">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
</div>

<link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/dropzone/dropzone.min.js"></script>
    <script type="text/javascript">

    Dropzone.options.dropzoneJsForm = {
        maxFiles: 1,
        acceptedFiles: "image/jpg, image/jpeg, image/png",
        accept: function (file, done) {
            console.log("uploaded");
            done();
        },
        init: function () {
            this.on("error", function (file, message) {
                this.removeAllFiles();
                this.addFile(file);
            });
            this.on("complete", function (data) {
                //var res = eval('(' + data.xhr.responseText + ')');
                document.location = '/Options/CoAccount/Index';
            });
        }
    };
    </script> 
}
