@model ePonti.web.Models.NoteModels.NewNote

@{
    ViewBag.Title = "Edit Note Info";
    ViewBag.FormAction = "edit";
    Layout = null;
}

<div class="container body-content" id="editableView">
    <div class="col-xs-12 col-sm-12 pageHeader">
        <div class="col-xs-10 col-sm-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="#" class="homeLinks save-note"><img src="~/images/Save.png" width="20"></a>
            <span><a onclick="closeEdit()" class="homeLinks"><img src="~/images/Cancel.png" width="20"></a></span>
        </div>
    </div>
    @Html.Partial("_MainForm", Model)
</div>
