@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h4>Get in touch with us by filling <strong>contact form below</strong></h4>
            <form id="contactform" action="Contact" method="post" class="validateform" name="send-contact">
                @if (!string.IsNullOrWhiteSpace((ViewBag.Status ?? "")))
                {
                <div id="sendmessage" class="show">
                    @ViewBag.Status
                </div>
                }
                <div class="row">
                    <div class="col-lg-4 field">
                        <input type="text" name="Name" placeholder="* Enter your full name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" class="form-control formFeildText" />
                        <div class="validation">
                        </div>
                    </div>
                    <div class="col-lg-4 field">
                        <input type="text" name="Email" placeholder="* Enter your email address" data-rule="email" data-msg="Please enter a valid email" class="form-control formFeildText" />
                        <div class="validation">
                        </div>
                    </div>
                    <div class="col-lg-4 field">
                        <input type="text" name="Subject" placeholder="Enter your subject" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" class="form-control formFeildText" />
                        <div class="validation">
                        </div>
                    </div>
                    <div class="col-lg-12 margintop10 field">
                        <textarea rows="12" name="Message" class="input-block-level form-control formFeildText" placeholder="* Your message here..." data-rule="required" data-msg="Please write something" ></textarea>
                        <div class="validation">
                        </div>
                        <p>
                            <button class="btn btn-theme margintop10 pull-left" type="submit">Submit message</button>
                            <span class="pull-right margintop20">* Please fill all required form field, thanks!</span>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
