
@{
    ViewBag.Title = "Pricing";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="mainGridText">
                        @ViewBag.Title
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-9 row">
                    <p class="tabText">
                        Thank you for your interest in ePonti where we’re making Monday better 
                        for you & your customers.
                    </p>
                </div>
                <div class="row">
                    <div class="headerText"></div>
                </div>
                <div class="col-sm-offset-1 col-sm-3">
                    <div class="pricing-box-alt">
                        <div class="pricing-heading">
                            <h3><strong>Sub-Contractor Resource</strong></h3>
                        </div>
                        <div class="pricing-terms">
                            <h6>&#36;9.99 / Month</h6>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li><i class="icon-ok"></i> Sub Dashboard</li>
                                <li><i class="icon-ok"></i> Work Requests</li>
                                <li><i class="icon-ok"></i> Calendar</li>
                                <li><i class="icon-ok"></i> Free 30-days trial</li>
                                <li><i class="icon-ok"></i> Stop anytime easily</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="pricing-box-alt">
                        <div class="pricing-heading">
                            <h3><strong>Company Resource</strong></h3>
                        </div>
                        <div class="pricing-terms">
                            <h6>&#36;29.99 / Month</h6>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li><i class="icon-ok"></i> Users Dashboard</li>
                                <li><i class="icon-ok"></i> People</li>
                                <li><i class="icon-ok"></i> No hidden fees</li>
                                <li><i class="icon-ok"></i> Free 30-days trial</li>
                                <li><i class="icon-ok"></i> Stop anytime easily</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="pricing-box-alt">
                        <div class="pricing-heading">
                            <h3><strong>Company Administrator</strong></h3>
                        </div>
                        <div class="pricing-terms">
                            <h6>&#36;49.99 / Month</h6>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li><i class="icon-ok"></i> Admin Dashboard</li>
                                <li><i class="icon-ok"></i> Unlimited Contacts, Leads, Quotes, Service</li>
                                <li><i class="icon-ok"></i> No hidden fees</li>
                                <li><i class="icon-ok"></i> Free 30-days trial</li>
                                <li><i class="icon-ok"></i> Stop anytime easily</li>
                            </ul>
                        </div>
                        <div class="row"></div>
                        <div class="box-bottom">
                            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "box-bottom" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="headerText"></div>
            </div>
        </div>
    </div>
</div>
