
@{
    ViewBag.Title = "Solution";
}

<section id="content">
    <div class="container">
        <div class="row">
            <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
            <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-10" id="player"></div>
            <script>
                // 2. This code loads the IFrame Player API code asynchronously.
                var tag = document.createElement('script');

                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                // 3. This function creates an <iframe> (and YouTube player) after the API code downloads.
                var player;
                function onYouTubeIframeAPIReady() {
                    player = new YT.Player('player', {
                        height: '527',
                        width: '960',
                        videoId: 'd84ch4sjd5Q',
                        events: {
                            'onReady': onPlayerReady,
                            'onStateChange': onPlayerStateChange
                        }
                    });
                }

                // 4. The API will call this function when the video player is ready.
                function onPlayerReady(event) {
                    event.target.playVideo();
                }

                // 5. The API calls this function when the player's state changes.
                var done = false;
                function onPlayerStateChange(event) {
                    if (event.data == YT.PlayerState.PLAYING && !done) {
                        //setTimeout(stopVideo, 6000);
                        done = true;
                    }
                }
                function stopVideo() {
                    player.stopVideo();
                }
            </script>
        </div>
    </div>
    <!-- divider -->
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
    </div>
    <!-- end divider -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="row">
                    <section id="projects">
                        <div class="row">
                            <div class="mainGridText">Sections</div>
                        </div>
                        <ul id="thumbs" class="portfolio">

                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-sm-3 col-lg-3 design" data-id="id-0" data-type="dash">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Dashboard" href="~/images/works/SiteGraphic1.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/images/works/SiteGraphic1.jpg" alt="The Dashboard provde access to making & sharing appointments through
                                             your Calendar & Activities">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-sm-3 col-lg-3 design" data-id="id-1" data-type="pep">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="People" href="~/images/works/SiteGraphic2.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/images/works/SiteGraphic2.jpg" alt="Manage your customer contacts with a simple People-friendly CRM
                                             system. Linking events, work, services and cases (internal communications).  The ePonti People
                                             Section provides visualization into your Contacts organized by Companies with grouping of
                                             their related Contacts or Individually.">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-sm-3 col-lg-3 photography" data-id="id-2" data-type="leads">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Leads" href="~/images/works/SiteGraphic3.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/images/works/SiteGraphic3.jpg" alt="Post, organize and share Leads. Identify what phase of the sales cycle
                                             each prospect is in">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-sm-3 col-lg-3 design" data-id="id-3" data-type="quotes">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Quotes" href="~/images/works/SiteGraphic4.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/images/works/SiteGraphic4.jpg" alt="Create Quotes for proposals with added notes, items and cases; track time">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-sm-3 col-lg-3 photography" data-id="id-4" data-type="jobs">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Jobs" href="~/images/works/SiteGraphic5.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/images/works/SiteGraphic5.jpg" alt="List and manage Projects.  Add descriptions, updates, & view current
                                             status. Include contacts, parts, changes, work orders, purchasing, delivery, punch list & project
                                             files">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-sm-3 col-lg-3 photography" data-id="id-5" data-type="service">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Service" href="~/images/works/SiteGraphic6.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/images/works/SiteGraphic6.jpg" alt="Create and post Service requests while tracking work">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-sm-3 col-lg-3 design" data-id="id-6" data-type="sch">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Scheduling" href="~/images/works/SiteGraphic7.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/images/works/SiteGraphic7.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-sm-3 col-lg-3 design" data-id="id-7" data-type="pro">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Procurement" href="~/images/works/SiteGraphic8.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/images/works/SiteGraphic8.jpg" alt="This processes cover purchasing requests, purchase order requests, parts,
                                             transfers, pending returns, returns & inventory parts">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-sm-3 col-lg-3 photography" data-id="id-8" data-type="rpt">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Reports" href="~/images/works/SiteGraphic9.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/images/works/SiteGraphic9.jpg" alt="Custom Reporting is available, including filters by department & other
                                             search capabilities. View instantly by project or PO#. Export to popular file formats including
                                             Excel & PDF">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-sm-3 col-lg-3 design" data-id="id-9" data-type="pit">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="PostIt" href="~/images/works/SiteGraphic10.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/images/works/SiteGraphic10.jpg" alt="Start or join an internal discussion in Postit">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-sm-3 col-lg-3 design" data-id="id-10" data-type="time">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Timekeeper" href="~/images/works/SiteGraphic11.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/images/works/SiteGraphic11.jpg" alt="Use Timekeeper to enter, submit & confirm work hours for Payroll. Entries
                                             are updated and approved before transfer for final approval to be paid">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-sm-3 col-lg-3 design" data-id="id-11" data-type="int">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Integrations" href="~/images/works/SiteGraphic12.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/images/works/SiteGraphic12.jpg" alt="Have integration available for QuickBooks Online, Salez Toolz, DropBox">
                            </li>
                            <!-- End Item Project -->
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
