@model ePonti.web.Models.CORModels.NewCOR

@{
    //Utilize "Edit + [Type]" field for title
    ViewBag.Title = "Edit "+ ViewBag.typelabel;
    ViewBag.FormAction = "create";
    ViewBag.IsEdit = true;
}

<div class="container-fluid" id="editableView">
    <div class="col-sm-12 col-lg-12 pageHeader">
        <div class="col-sm-10 col-lg-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="#" class="homeLinks save-main-form"><img src="~/images/Save.png" width="20"></a>
            <span><a onclick="closeEdit()" class="homeLinks"><img src="~/images/Cancel.png" width="20"></a></span>
        </div>
    </div>
    @Html.Partial("_MainForm", Model)
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/pages/corinfo.js?")" type="text/javascript"></script>
}