@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>

<div>
    <h2>Confirm your ePonti Account</h2>
    <p>To complete the sign up process, please click the link below at your earliest convenience.</p>
    <p>@Html.ActionLink("Confirm your ePonti account ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
    <p>
        If you didn't create an account, let us know right away. It's important because it helps us make
        sure no one is using your information without your knowledge.
    </p>
    <p>
        This is an automated message, and replies are not monitored. If you continue to have difficulty,
        please contact ePonti Support - support@ePonti.com or call 855.707.0001.
    </p>
    <p></p>
    <p>Thanks,</p>
    <p></p>
    <p>ePonti Team</p>
    <p>we’re making Mondays better for Contractors & their Customers</p>
    <p></p>
    <p>
        You have received this business communication as part of our efforts to fulfill your request or
        service your account. You may receive this and other business communications from us even if you have
        opted out of marketing messages.
    </p>
</div>
