@{
    ViewBag.Title = "Welcome";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="row">
                    <div class="mainGridText">@ViewBag.Title</div>
                </div>
                <div class="col-sm-offset-1 col-sm-9 col-lg-offset-1 col-lg-9 row">
                    <p class="tabText">
                        Thank you for your interest in ePonti where we’re making Monday better for you & your customers.
                    </p>
                    <p class="tabText">
                        The next few steps will walk you through some of the important configuration options to
                        successfully utilize ePonti.  Once you complete this process you will still have the ability
                        to modify or change your selections via the Options Section inside ePonti.
                    </p>
                    <p class="tabText">
                        If at any time you require assistance with this process or have questions, feel free to
                        contact Support at 855.707.0001 or support@ePonti.com.
                    </p>
                </div>
                <div class="row">
                    <div class="headerText"></div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="row">
                                <div class="col-sm-4 col-lg-4">
                                    <div class="box">
                                        <div class="box-gray aligncenter">
                                            <h4>Invite</h4>
                                            <div class="icon">
                                                <i class="fa fa-pagelines fa-3x"></i>
                                            </div>
                                            <p>
                                                Invite others from your company to join your ePonti
                                                site.
                                            </p>
                                        </div>
                                        <div class="box-bottom">
                                            @Html.ActionLink("Invite", "Invite", "Account", routeValues: null, htmlAttributes: new { @class = "box-bottom" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-lg-4">
                                    <div class="box">
                                        <div class="box-gray aligncenter">
                                            <h4>Learn</h4>
                                            <div class="icon">
                                                <i class="fa fa-desktop fa-3x"></i>
                                            </div>
                                            <p>
                                                Go to the ePonti Learning center to get important information
                                                on utilizing & customize your site.
                                            </p>
                                        </div>
                                        <div class="box-bottom">
                                            @Html.ActionLink("Learn", "Solution", "Home", routeValues: null, htmlAttributes: new { @class = "box-bottom" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-lg-4">
                                    <div class="box">
                                        <div class="box-gray aligncenter">
                                            <h4>Dashboard</h4>
                                            <div class="icon">
                                                <i class="fa fa-edit fa-3x"></i>
                                            </div>
                                            <p>
                                                Go directly to the ePonti Dashboard & get started
                                                utilizing your site.
                                            </p>
                                        </div>
                                        <div class="box-bottom">
                                            @Html.ActionLink("Dashboard", "Index", "Dashboard", routeValues: null, htmlAttributes: new { @class = "box-bottom" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
