@model ePonti.BOL.GetItemInfoByMasterItemID_Result

@{
    ViewBag.Title = "New Item Info";
    ViewBag.FormAction = "create";
}
<div class="container-fluid">
    <div class="col-sm-12 col-lg-12 pageHeader">
        <div class="col-sm-10 col-lg-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="#" class="homeLinks save-event"><img src="~/images/Save.png" width="20"></a>
            <span><a href="javascript:history.go(-1)" class="homeLinks"><img src="~/images/Cancel.png" width="20"></a></span>
        </div>
    </div>
    <input type="hidden" id="CreatedItemId" />
    @Html.Partial("_MainForm", Model)
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Select Item Type</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <select id="selectType" class="form-control">
                        <option value="Inventory">Inventory</option>
                        <option value="NonInventory">Non Inventory</option>
                        <option value="Service">Service</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="ButtonSync">Sync</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('.datetime-picker').removeAttr("data-val-date");//disable date validation
        $(document).on('click','#ButtonSync', function () {
            $(this).attr("disabled", "disabled");
            $(this).text('Please wait....')
            document.location = '/Common/items/SyncToQBItems/' + $('#CreatedItemId').val() + "?type=" + $('#selectType').val();;
        });
        $('.save-event').on('click', function () {
            var $form = $('#main-form');
            if ($form.valid()) {
                $('.validation-summary-errors').find('li').remove();
                var $alert = $('.main-form-alert');

                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (res, data) {
                        console.log(data);
                        if (res.status == 'error') {
                            var errors = 'Enter correct data and retry.'
                            if (res.errors && res.errors.length > 0) {
                                errors = res.errors.join('<br>');
                            }
                            $alert.html(errors);
                            showAlert($alert, 'danger', -1);
                        }
                        else if (res.status = 'success') {
                            $alert.html('Note saved.');
                            showAlert($alert, 'success');
                            @*if ('@ViewBag.IsConnected' == 'true') {
                                if (confirm('Do you want to link this Product to QuickBooks?')) {
                                    $('#myModal').modal('show');
                                    $('#CreatedItemId').val(res.ViewID)
                                    return false;
                                }
                            }*@
                            document.location = '/Common/items/details/' + res.ViewID;
                        }
                    }
                });
            }
        })
    </script>
}
