@model ePonti.web.Models.CaseModels.NewCase

@{
    ViewBag.Title = "New Case Info";
    ViewBag.FormAction = "create";
    ViewBag.CreatedString = DateTime.Now.ToString("yyyy-MM-dd");
    Layout = "~/Areas/Mobile/Views/Shared/_FormLayout.cshtml";
}

<div class="container-fluid">
    <div class="pageHeader">
        <div class="col-xs-8 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="#" class="homeLinks save-case"><img src="~/images/Save.png" width="20"></a>
            <span>
                @Html.ActionLink("X", "Index", "../Mobile/mActivities", routeValues: null, htmlAttributes: new { id = "mactivities", @class = "mhomeLinks" })
            </span>
        </div>
    </div>
    <div class="container-fluid">
        @Html.Partial("_MainForm", Model)
    </div>
</div>

@section scripts{
    <script>
        $('.date-picker').removeAttr("data-val-date");//disable date validation
        $('#created').val($('#created').attr('data-value'));

        $('.save-case').on('click', function () {
            var $form = $('#main-form');
            if ($form.valid()) {
                $('.validation-summary-errors').find('li').remove();
                var $alert = $('.main-form-alert');

                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (res) {
                        if (res.status == 'error') {
                            var errors = 'Enter correct data and retry.'
                            if (res.errors && res.errors.length > 0) {
                                errors = res.errors.join('<br>');
                            }
                            $alert.html(errors);
                            showAlert($alert, 'danger', -1);
                        }
                        else if (res.status = 'success') {
                            $alert.html('Case saved.');
                            showAlert($alert, 'success');
                            document.location.reload();
                        }
                    }
                });
            }
        })

    </script>
}