/* The Left Side navigation menu */
.sideNav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #3C3C3C;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 30px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidebarNav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebarNav > .sidebar-brand {
        height: 35px;
        font-size: 10px;
        line-height: 30px;
    }

        .sidebarNav > .sidebar-brand a {
            color: #999999;
        }

            .sidebarNav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

    .sidebarNav li a {
        font-family: 'Roboto', cursive;
        padding: 4px 4px 0px 20px;
        text-decoration: none;
        font-size: 18px;
        color: #C8C8C8;
        display: block;
        transition: 0.3s;
        text-indent: 0px;
        line-height: 30px;
    }

        .sidebarNav li a:hover {
            text-decoration: none;
            color: #fff;
            background: rgba(255,255,255,0.2);
        }

        .sidebarNav li a:active,
        .sidebarNav li a:focus {
            text-decoration: none;
        }

    .sidebarNav li img {
        padding: 0px 0px 0px 0px;
        width: 230px;
        height: auto;
    }

    .sidebarNav a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }

.closeBtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 30px;
    margin-left: 10px;
}

.menuBtn {
    font-size: 24px;
    cursor: pointer;
    color: grey;
}

#main {
    transition: margin-left .5s;
    padding: 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 5px;
    }

        .sidenav a {
            font-size: 10px;
        }
}

.pageHeader {
    background: grey;
    height: 40px;
    padding-top: 5px;
}

.pageFooter {
    font-family: 'Roboto', cursive;
    color: grey;
    font-size: 14px;
    height: 30px;
    text-align: right;
    margin: 100px 50px 0px 0px;
}

.headerText {
    font-family: 'Roboto', cursive;
    color: steelblue;
    font-size: 26px;
    text-align: left;
    margin-left: 20px;
    padding-top: 20px;
    text-decoration: none;
}

.subText {   
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 18px;
    text-align: left;
    margin-left: 40px;
    text-decoration: none;
}

.subTextRight {   
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 18px;
    text-align: right;
    margin-right: 10px;
    text-decoration: none;
}

.subTextNote {
    font-family: 'Roboto', cursive;
    color: grey;
    font-size: 16px;
    text-align: left;
    margin-left: 30px;
    height: 160px;
}

.dropdown a {
    font-family: 'Roboto', cursive;
    font-size: 14px;
    text-decoration: none;
}

.dropdown-menu a {
    font-family: 'Roboto', cursive;
    font-size: 14px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.optionGridHeaderText {
    font-family: 'Roboto', cursive; 
    color: steelblue;
    font-size: 21px;
    vertical-align: baseline;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
}

.optionGrids {
    background: rgba(60,60,60,0.2);
    font-family: 'Roboto', cursive;
    color: white;
    text-align: center;
    font-size: 18px;
    height: 100px;
    margin: 20px 20px 20px 20px;
}

.optionTextBox {
    background: rgba(60,60,60,0.2);
    font-family: 'Roboto', cursive;
    color: white;
    font-size: 18px;
    height: 30px;
}

.optionsLogo {
    padding-left: 40px;
    padding-top: 10px;
    width: 250px;
}

.mainGridText {
    font-family: 'Roboto', cursive;
    color: steelblue;
    font-size: 24px;
    text-align: left;
    margin: 20px 0px 0px 20px;
}

.mainGrids {
    background: rgba(60,60,60,0.2);
    font-family: 'Roboto', cursive; 
    color: white;
    font-size: 21px;
    margin: 10px 50px 0px 30px;
    height: 50px;
}

.grids {
    font-family: 'Roboto', cursive;
    font-size: 14px;
    margin: 30px 0px 0px 30px;
}

.buttons {
    font-family: 'Roboto', cursive;
    font-size: 14px;
    margin: 10px 50px 0px 30px;
    padding: 5px;
    text-decoration: none;
}

.pageHeaderClose {
    background: grey;
    height: 40px;
    font-family: 'Roboto', cursive;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

.tabText {
    font-family: 'Roboto', cursive;
    color: cornflowerblue;
    font-size: 14px;
    text-align: left;
    margin: 10px 0px 0px 10px;
}

.tabTextBody {
    font-family: 'Roboto', cursive;
    color: grey;
    font-size: 14px;
    text-align: left;
    margin: 20px 0px 0px 30px;
}

.formLabelText {
    font-family: 'Roboto', cursive;
    color: grey;
    font-size: 14px;
    text-align: right;
    font-weight: bold;
}

.formLabelTextMobile {
    font-family: 'Roboto', cursive;
    color: grey;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

.formFeildText {  
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 16px;
    text-align: left;
    vertical-align: baseline;
    height: 30px;
}

.calendar {
    font-family: 'Roboto', cursive;
    font-size: 12px;
    text-align: left;
    margin: 30px 30px 30px 30px;
    width: auto;
}

.editableArea {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.homeSubHeaderText {
    font-family: 'Roboto';
    color: steelblue;
    font-size: 36px;
    text-align: left;
    margin: 20px 0px 0px 20px;
}

.homeMenuText {
    font-family: 'Roboto';
    color: white;
    font-size: 30px;
    text-align: left;
    padding-right: 20px;
    text-decoration: none;
}

.homeSubMenuText {
    font-family: 'Roboto';
    color: white;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
}

.homeLinks {
    font-family: 'Roboto';
    color: white;
    font-size: 16px;
    text-align: left;
    padding-right: 20px;
    text-decoration: none;
    vertical-align: bottom;
}

.homeBodyText {
    color: gray;
    font-size: 18px;
    text-align: left;
    margin: 20px 0px 0px 20px;
}

.homeGroupText {
    font-family: 'Roboto';
    color: black;
    font-size: 24px;
    text-align: left;
    text-decoration: none;
    margin: 20px 0px 0px 20px;
}

.sectionGrids {
    font-family: 'Roboto';
    color: gray;
    font-size: 18px;
    text-align: left;
    margin: 0px 20px 0px 50px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.custom-font {
    font-family: 'Roboto', cursive;
    color: black;
    font-size: 12px;
    text-align: left;
    vertical-align: baseline;
}

.input-validation-error {
    border: 1px solid red !important;
}

.validation-summary-errors {
    color: red;
}

.soft-hide, .data-template {
    display: none;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.optionsContainer {
    font-family: 'Roboto', cursive;
}

    .optionsContainer .actions {
        width: 80px;
    }

        .optionsContainer .actions .save,
        .optionsContainer .actions .cancel {
            display: none;
        }

    .optionsContainer .edit .actions .save,
    .optionsContainer .edit .actions .cancel {
        display: inline-block;
    }

    .optionsContainer .edit .actions .edit {
        display: none;
    }

td.num-format {
    text-align: center;
}

.row.search-filters {
    padding-left: 74px;
}

.homeFooterHeaderText {
    font-family: 'Roboto';
    color: white;
    font-size: 24px;
    text-align: left;
    padding-bottom: 10px;
    text-decoration: none;
}

.homeFooterText {
    font-family: 'Roboto';
    color: white;
    font-size: 13px;
    text-align: left;
    text-decoration: none;
}

.homeFooterSubHeaderText {
    font-family: 'Roboto';
    color: white;
    font-size: 18px;
    text-align: left;
    padding-bottom: 10px;
    text-decoration: none;
}

.homeSlideHeaderText {
    font-family: 'Roboto';
    color: white;
    font-size: 24px;
    text-align: left;
    text-decoration: none;
    font-weight:700;
	line-height:1.1em;
	margin-bottom: 20px;
}

.account_dropzone {
    max-width: 193px !important;
}
.dropzone_div {
    min-height: 150px;
    border: 2px solid rgba(0,0,0,0.3);
    background: white;
    padding: 20px 20px;
    box-sizing: border-box;
    cursor:pointer;
}

.leftfilters {
    font-family: 'Roboto';
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    padding-left: 50px;
}

.srch_text {
    width: 100%;
}

.leftfilters h4 {
    font-family: 'Roboto';
    font-weight: bold;
    padding-top: 20px;
}

.filtercheckbox label {
    font-family: 'Roboto';
    font-weight: 400;
}

.checklists {
    max-height: 152px;
    overflow-y: auto;
    padding-left: 10px;
}

.filterbuttons {
    padding-left: 100px;
}

.uploadloader{
    height:57px;
}

.report_container, .report_container tr td table {
    width: 100%;
    font-family: 'Roboto';
}

.woarea, .wodivision{
    font-weight:600;
}

.woseparator div {
    width: 100%;
    border-color: #dddddd;
    border-bottom: 2px solid #dddddd;
}

.report_container td {
    padding: 3px 0;
}


.btn.Qb_btn {
    width: 250px;
    display: block;
    margin: 0 auto;
}

    .btn.Qb_btn img {
        width: 100%;
    }


 .formFeildText  { margin-bottom:25px;
}
.buttons.formLabelText {
    margin: 0 0;
}


    .buttons.formLabelText .btn-default {
    margin-bottom:15px;}