@model IEnumerable<ePonti.BOL.CoContacts>
@using ePonti.web.Common

@{
    ViewBag.Title = "People";
    var nav = Url.Nav(ePonti.BLL.Common.EnumWrapper.Pages.PeopleGrid, null);
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 mainGridText">@ViewBag.Title</div>
    </div>
    <div class="row">
        <div class="col-xs-5 mainGridText"></div>
        <div class="col-xs-2 dropdown buttons">
            @Html.ActionLink("New", "create", "mcontactinfo", new { area = "mobile", nav }, new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="col-xs-11 row">
        <div class="list-group" id="activities">
            <table class="table table-hover grids">
                <tr>
                    <th>Contact</th>
                    <th>Company</th>
                </tr>
                @foreach (var item in Model)
                {
                    //join names, but ignore empty part if any
                    var contactName = string.Join(", ", new List<string>() { item.ContactLastName, item.ContactFirstName }.Where(p => !string.IsNullOrWhiteSpace(p)));
                    if (string.IsNullOrEmpty(contactName))
                    {
                        contactName = "[Not Available]";
                    }

                    <tr class='contact-row'>
                        <td height="40">
                            @Html.ActionLink(contactName, "details", "mcontactinfo", new { id = item.ContactID, area = "mobile", nav }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CoContactCompanies.ContactCoName)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
